.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 8px;
}

.grid-box {
  margin: 4px;
  padding: 8px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.avatar-box, .name-box, .city-box, .edit-button-box {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    flex-grow: 0.5;
  }
}

.highlight-coach {
  color: #3992fc;
}

.highlight-coachee {
  color: #1EDD88;
}

.ad-box1 {
  border-radius: 10px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: url("drink.webp");
  background-size: cover;
  text-decoration: none;
  p {
    color: white;
    &:hover {
      color: rgb(179, 176, 176);
      }
  }
}

.ad-box2 {
  border-radius: 10px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: url("shoe.jpg");
  background-size: cover;
  text-decoration: none;
  p {
    color: rgb(70, 70, 70);
    &:hover {
      color: rgb(26, 26, 26);
      }
  }
}
