.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  height: 70vh;
  padding: 8px;
}

.grid-box {
  margin: 8px;
  padding: 8px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.avatar-box, .name-box, .city-box, .edit-button-box {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    flex-grow: 0.5;
  }
}
