<div class="banner">
  <div class="container">
    <h1><strong>Coachoo</strong> helps creative people to grow together!</h1>
    <p>Help others to grow and be a fuller self.</p>
    <%= link_to 'Sign up today!', new_user_session_path, class: "btn-primary" %>
  </div>
</div>

<div class="container">
  <br>
  <h2><strong>How it works</strong></h2>
  <br>
  <div class="cards">
    <div class="card">
      <%= image_tag "apply.svg" %>
      <h3>Sign up</h3>
      <p>Offer your own courses.</p>
    </div>
    <div class="card">
      <%= image_tag "learn.svg" %>
      <h3>Learn from others</h3>
      <p>Book courses on our platform.</p>
    </div>
    <div class="card">
      <%= image_tag "product.svg" %>
      <h3>Create your vision</h3>
      <p>Apply your new skills.</p>
    </div>
  </div>
<br>
</div>
