
<h1>Book a lesson!</h1>
<div class="date-picker">
	<div class="selected-date"></div>
	<div class="dates">
		<div class="month">
			<div class="arrows prev-mth">&lt;</div>
			<div class="mth"></div>
			<div class="arrows next-mth">&gt;</div>
		</div>
		<div class="days"></div>
	</div>
</div>
<%= simple_form_for [ offer, appointment ] do |f|%>
  <%= f.hidden_field :date, value: "" %>
  <%= f.button :submit, value: "Book Lesson" %>
<% end %>
