.banner {
  background-image: url("Explaining.jpg");
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

.banner h1 {
  color: white;
  text-shadow: 1px 1px 2px rgb(48, 46, 47);
  text-align: start;
}

.banner p {
  color: white !important;
  text-shadow: 1px 1px 2px rgb(48, 46, 47);
  font-size: 20px;
  margin-bottom: 30px;
}
