.banner {
  background-image: url("Explaining.jpg");
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

.banner h1 {
  color: white;
  text-shadow: gray;
}

.banner p {
  color: white;
  text-shadow: gray;
  font-size: 20px;
}
