.btn-primary {
  display: inline-block;
  background-color: #1edd88;
  padding: 8px 16px;
  border-radius: 10px;
  border: none;
  color: white;
  text-decoration: none;
  opacity: 1;
}

.btn-secondary {
  padding: 8px 16px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  border: none;
}

#button-book {
  margin: 8px;
}
