.card-infos {
  display: flex;
  background: transparent;
  padding: 10px;
  border-radius: 10px;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.offer-card {
  display: flex;
  flex-direction: column;
  border: solid 1px lightgray;
  margin-top: 20px;
  padding-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  min-height: 30rem;
}

.infos {
  display: flex;
  justify-content: space-evenly;
  border-bottom: solid 1px $green;
  margin: 0 25px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  padding: 0 10px;
}

#delete-btn {
  background-color: rgb(235, 112, 112);
}
#details {
  padding-top: 20px;
  max-width: 100%;
  text-overflow: clip;
  word-wrap: break-word;
}
